<ion-header class="tituloLogin">
  <ion-toolbar>
    <ion-title class="tituloLogin">
      <b>TeLlevoApp</b>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" scroll-y="false">
  <br>
  <br>
  <br>
  <ion-label class="tituloContra">
    <center>Restablecimiento de Contraseña</center>
  </ion-label>
<center>
<ion-card>

  <ion-card-content>
    
    <ion-label position="floating">Correo Electronico</ion-label>
    <ion-input type="text" minlength="3" maxlength="10"></ion-input>
    <ion-button size="small" (click)="presentToast('Correo enviado con exito')" >Cambiar Contraseña</ion-button>
  </ion-card-content>
</ion-card>
<button rel="stylesheet" href="/assets/reboot.css" class="atras" size="small" (click)="atras()">Atras</button>

</center>
</ion-content>
