ion-title.tituloLogin {
    color: #f9ba13;
    text-align:center;
    --ion-background-color: #002d59;
}
ion-header {
    --ion-background-color: #002d59;
}

ion-label.tituloContra {
    text-align: center;
    
}

.atras {
    background-color: #3880ff;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #3880ff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 2.1em;
    font-size: 13px;
    margin: 4px 2px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
