<ion-header class="tituloLogin">
  <ion-toolbar>
    <ion-title class="tituloLogin">
      <b>TeLlevoApp</b>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" scroll-y="false">
  <br>
  <br>
  <br>
<center>Restablecimiento de Contraseña</center>
<center>
<ion-card>

  <ion-card-content>
    
    <ion-label position="floating">Correo Electronico</ion-label>
    <ion-input type="text" [(ngModel)]="user.usuario" minlength="3" maxlength="10"></ion-input>
    <ion-button size="small" [routerLink]="['/contrasena']" (click)="presentToast('Correo enviado con exito')" >Cambiar Contraseña</ion-button>
  </ion-card-content>
</ion-card>
<ion-button size="small" (click)="atras()">Atras</ion-button>

</center>
</ion-content>
