<ion-header class="tituloLogin">
  <ion-toolbar>
    <ion-title class="tituloLogin">
      <b>TeLlevoApp</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">

  <br>

  <center>
    <ion-thumbnail>
      <img alt="" src="https://img2.freepng.es/20200806/jyy/transparent-construction-cartoon-drawing-line-art-silhouette-5f2c15b87776a0.3495331815967246644893.jpg" />
    </ion-thumbnail>
  </center>
  <br>
  <ion-title>
    <center>
      <b>404 ERROR</b>
    </center>
  </ion-title>
  <br>
  <ion-label>
    <center>
      Pagina en construccion...
    </center>
  </ion-label>
  <br><br><br><br><br><br><br><br>
  <center>
    <ion-button [routerLink]="['/home']" shape="round">Volver</ion-button>
  </center>

</ion-content>
