<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon color="light" name="person-circle-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>

  <center>
    <h3>Crear Viaje</h3>
  </center>
  <br>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-input type="date" [(ngModel)]="fecha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Hora de Viaje</ion-label>
        <ion-input type="time" [(ngModel)]="hora"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Maximo Pasajeros</ion-label>
        <ion-input type="number" max="8" [(ngModel)]="pasajeros"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Destino</ion-label>
        <ion-input type="text" [(ngModel)]="destino"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Precio Viaje</ion-label>
        <ion-input type="number" [(ngModel)]="precio"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <center>
    <ion-button size="small" (click)="guardar()">Crear Viaje</ion-button>
  </center>
  <center>
    <ion-button size="small" (click)="atras()">Atras</ion-button>
  </center>


</ion-content>