

<ion-content>
<br>
<br>
<br>
  <center><h3>Crear Viaje</h3></center>
  <br>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-input type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Hora de Viaje</ion-label>       
        <ion-input type="time"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Maximo Pasajeros</ion-label>       
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Destino</ion-label>       
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Precio Viaje</ion-label>       
        <ion-input type="number"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>
 <center><ion-button size="small" (click)="presentToast('Viaje Publicado con Exito!')" >Crear Viaje</ion-button></center>


     
</ion-content>
