<ion-header class="tituloLogin">
  <ion-toolbar class="tituloLogin">
    <ion-title class="tituloLogin">
      <b >TeLlevoApp</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>

  <center>
    <h3>Iniciar Sesión</h3>
  </center>

  <br>

  <div>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input id="user" type="text" [(ngModel)]="user.usuario" minlength="3" maxlength="10"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input id="pass" type="password" [(ngModel)]="user.password" minlength="4" maxlength="12"></ion-input>
    </ion-item>

    <br><br>

    <center>
      <button class="ing" expand="block" (click)="ingresar()">Ingresar</button>
    </center>
    
    <br>
    <center>
      <button class="contra" size="small" [routerLink]="['/contrasena']" >Olvide mi Contraseña</button>
    </center>

    <br>

    <center>
    <div style="font-size: small"><a target="_blank" rel="noopener noreferrer"  href="https://ionicframework.com/docs/components">Crea tu cuenta gratis</a></div>
    </center>
  </div>

</ion-content>