ion-content{
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
}

ion-item{
    --padding-bottom: 10px;
}


ion-title.tituloLogin {
    color: #f9ba13;
    text-align:center;
    --ion-background-color: #002d59;
}

ion-header {
    --ion-background-color: #002d59;
}