ion-content{
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    background-color: rgb(255, 255, 255);
}

ion-item{
    --padding-bottom: 10px;
}

ion-header.tituloLogin {
    color: #00213f;
}

ion-title.tituloLogin {
    color: #002d59;
    text-align:center;

}


