ion-content{
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
}

ion-item{
    --padding-bottom: 10px;
}

.tituloLogin {
    color: #f9ba13;
    text-align:center;
    --ion-background-color: #002d59;
    background-color: #002d59;
    --min-height: 56px;
    --background: #002d59;
    font-size: 20px;
    letter-spacing: 0.0125em;
    padding: 6px 20px;
}

.contra {
    background-color: #3880ff;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #3880ff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 230px;
    height: 30px;
}

.ing {
    background-color: #3880ff;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #3880ff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 230px;
    height: 40px;
}