<ion-app>

  <ion-menu side="end" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleMenu()">
            <ion-icon slot="icon-only" name="arrow-redo"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon class="home" name="person" slot="start"></ion-icon>
          <ion-label>Perfil</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon class="home" name="mail" slot="start"></ion-icon>
          <ion-label>Correo Duoc</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon class="home" name="car-sport" slot="start"></ion-icon>
          <ion-label>Viajes</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item href="#">
          <ion-icon class="home" name="close-circle" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
