ion-card.background1{
  --background: url(https://c4.wallpaperflare.com/wallpaper/42/182/418/nissan-gtr-r34-nissan-forza-horizon-4-video-games-nissan-skyline-gt-r-r34-hd-wallpaper-preview.jpg) 0 0/100% 100% no-repeat;
}
ion-card.background2{
  --background: url(https://c4.wallpaperflare.com/wallpaper/708/349/309/nissan-skyline-gt-r-r34-silver-need-for-speed-nfs-2015-gtr-r34-hd-wallpaper-preview.jpg) 0 0/100% 100% no-repeat;
}

p.letra1{
  color: #f4f5f8;
}
p.letra2{
  color: #ffffff;
}