<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon color="light" name="person-outline" slot="start"></ion-icon>
      <ion-label class="home">
        {{data.usuario}}
      </ion-label>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">

  <br>

  <ion-breadcrumbs>
    <ion-breadcrumb [routerLink]="['/home']">Home</ion-breadcrumb>
  </ion-breadcrumbs>
  <mat-slider min="1" max="100" step="1" value="50"></mat-slider>

  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="">
        <h2>Bienvenido</h2>
        <p>
          Bienvenido a <b>TeLlevoApp</b>. aplicación hecha por y para estudiantes del Instituto <b>DuocUc</b>.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="">
      <h2>Que es TeLlevoApp?</h2>
      <p>
        <b>TeLlevoApp</b> es una aplicación que permite que los alumnos se organicen para que puedan retornar a sus
        hogares utilizando vehiculos de algunos alumnos que si tienen movilizacion propia.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="">
      <h2>Listo para la aventura?</h2>
      <ion-button color="dark" fill="clear">¡¡Vamos!!<ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>

  <br><br>

  <ion-item [routerLink]="['/buscarviaje']">
    <ion-icon class="home" name="search" slot="start"></ion-icon>
    <ion-label>Buscar Locomoción</ion-label>
    <ion-icon name="chevron-forward" slot="end"></ion-icon>
  </ion-item>
  <hr>
  <ion-item [routerLink]="['/crearviaje']">
    <ion-icon class="home" name="car" slot="start"></ion-icon>
    <ion-label>Disponer Locomoción</ion-label>
    <ion-icon name="chevron-forward" slot="end"></ion-icon>
  </ion-item>
  
</ion-content>