.tituloHome {
  color: #ffffff;
  --ion-background-color: #002d59;
  background-color: #002d59;
  --background: #002d59;
}

.menuIcon {
  color: #ffffff;
  --padding-top: 12px;
  --padding-end: 12px;
  --padding-bottom: 12px;
  --padding-start: 12px;
  --border-radius: 50%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 48px;
  height: 48px;
  --color: initial;
  --background: transparent;
  --background-activated: transparent;
  --background-focused: currentColor;
  --background-hover: currentColor;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 20px 0 4px;
  pointer-events: none;
}

b {
  font-weight: 500;
}
p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}
p b {
  color: var(--ion-text-color, #000000);
}

ion-icon.home {
    color:#002d59;
}
